*~
build-vars.rc
bin/
obj/
src/Activity.java
AndroidManifest.xml
build.xml
config.json
gen/
jni/game-libs/armeabi/
libhaskell_game.a
libs/
res/values
assets/
res/drawable-hdpi/
res/drawable-mdpi/
res/drawable-xhdpi/
res/drawable-xxhdpi/

