#
# Path to game repo
#
GAME_REPO={{repo}}

#
# Path to Android NDK
#
NDK=$HOME/android-ndk-r9b

#
# Path to directory containing required static C libraries of Epidemic.
#
GAME_C_LIB_DIR=$HOME/.ghc/android-14/arm-linux-androideabi-4.8/sysroot/usr/lib

APK="{{package}}-{{build_type}}.apk"
GAME_PKG="{{package}}"
HASKELL_PACKAGE="{{haskell_package}}"
BUILD_TYPE={{build_type}}
ASSETS_DIR={{assets_dir}}